// COLORS
$mainPurple: #492365;
$mainGray: #575047;

$compPurple1: #7f56c5;
$compPurple2: #8446ac;
$compPurple3: #a391b1;
$compGray: #aa989c;

$secondary: #25cad3;

$white: #faf6ea;

// FONTS
$mainFont: 'Arimo', sans-serif;

// WIDTHS
$phone-width: 420px;

// MEDIA QUERIES
@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

// OTHER MIXINS
@mixin appearance-fix {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// PLACEHOLDER CLASSES
%input {
  border: none;
  font-size: 0.8rem;
  margin: 0.3rem;
  transition: 0.2s;
  width: 170px;
  border: 1px solid $mainGray;
  // border-width: 1px;
  padding: 0.2rem;
  &:focus {
    -moz-outline-radius: 5px;
    outline-style: solid;
    outline-width: 4px;
    outline-color: $compPurple3;
  }
  @include phone {
    width: 50%;
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
