// COLORS
$mainPurple: #492365;
$mainGray: #575047;

$compPurple1: #7f56c5;
$compPurple2: #8446ac;
$compPurple3: #a391b1;
$compGray: #aa989c;

$secondary: #25cad3;

$white: #efefef;

// FONTS
$mainFont: 'Oswald', sans-serif;