.login {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > input {
      @extend %input;
    }
  }
  div {
    input {
      border: none;
      border: 1px solid $mainGray;
      margin: 0.3rem;
      background: white;
      cursor: pointer;
      &:nth-of-type(1) {
        background: $white;
      }
      &:hover {
        background: $compPurple2;
        color: $white;
      }
      &:focus {
        outline: none;
      }
      &:active {
        color: $mainPurple;
      }
      @include phone {
        width: 50%;
        font-size: 1rem;
        line-height: 1.6rem;
      }
      @include appearance-fix
    }
    button {
      @extend input;
      border: 1px dotted $compGray;
    }
    @include phone {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      align-items: center;
    }
  }
}
